<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            login.html
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>main.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>main.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>main.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileRetrive</servlet-name>
        <servlet-class>main.FileRetrive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImages</servlet-name>
        <servlet-class>main.GetImages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileRetrive</servlet-name>
        <url-pattern>/FileRetrive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImages</servlet-name>
        <url-pattern>/GetImages</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
