.meadia-upload {
    display: flex;
    text-align: center;
    align-content: center;
    padding: 0.3cm;
    background-color: lightyellow;
   height: 70px;
  
}
.sts p{
    margin-top:10px;
    font-family:Lucida Console, Courier, monospace;
}
header{
     display:block;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    width:100%;
    height:90px;
}


footer{
    display:block;
    position:fixed;
    bottom:0px;
    width:100%;
    left:0px;
    right:0px;
    height:90px;
}
.align {
    display: flex;
    float: left;
    width: 25%;
}

.img {
    width:60px;
    height: 60px;
    border-radius: 50%;

    border: 1px solid maroon;
}

#docs {

    float: left;


}

#images {

    float: left;


}

#videos {

    float: left;


}

.txt-al {
    font-size:19px;
    display: flex;
    margin-top:-11px;
    margin-bottom:40px;
    font-display: 2cm;
    float: right;
    font-style: initial;
    padding: 0.3cm;

}



#status {
    font-size: 0.6cm;
    float: left;
    width: 40%;

}